$primary:#1890ff;
$primary-hover:#0280b3;

//text

$text-light:#fff;

//Background

$background-dark:#fff;
$background-green:#f0f3f4;
$background-dark-web:#16212b;

//Border

$border-grey:#808080;

//status

$success:#84b84c;

//social color

$facebook:#3b5998;
$twitter:#1da1f2;
$google-plus:#dd4b39;
$instagram:#125688;

